set default=23
set timeout=0
menuentry "myos" {
    multiboot /boot/myos.bin
    set gfxpayload=1920x1080x32
    boot
}

menuentry "vga text mode os" {
    multiboot /boot/myos.bin
    set gfxpayload=text
}

menuentry "memory - malloc" {
    multiboot /boot/memory/malloc/malloc.bin
    set gfxpayload=text
    boot
}

menuentry "memory - memcmpEqual" {
    multiboot /boot/memory/memcmpEqual/memcmpEqual.bin
    set gfxpayload=text
    boot
}

menuentry "memory - memcmpNequal" {
    multiboot /boot/memory/memcmpNequal/memcmpNequal.bin
    set gfxpayload=text
    boot
}

menuentry "memory - memcpy" {
    multiboot /boot/memory/memcpy/memcpy.bin
    set gfxpayload=text
    boot
}

menuentry "memory - memset" {
    multiboot /boot/memory/memset/memset.bin
    set gfxpayload=text
    boot
}

menuentry "utils - abs" {
    multiboot /boot/utils/abs/abs.bin
    set gfxpayload=text
    boot
}

menuentry "utils - popcount" {
    multiboot /boot/utils/popcount/popcount.bin
    set gfxpayload=text
    boot
}

menuentry "utils - getNthBit" {
    multiboot /boot/utils/getNthBit/getNthBit.bin
    set gfxpayload=text
    boot
}

menuentry "utils - findFirstUnSetBit" {
    multiboot /boot/utils/findFirstUnSetBit/findFirstUnSetBit.bin
    set gfxpayload=text
    boot
}

menuentry "strings - strcmp" {
    multiboot /boot/strings/strcmp/strcmp.bin
    set gfxpayload=text
    boot
}

menuentry "strings - strlen" {
    multiboot /boot/strings/strlen/strlen.bin
    set gfxpayload=text
    boot
}

menuentry "strings - toString" {
    multiboot /boot/strings/toString/toString.bin
    set gfxpayload=text
    boot
}

menuentry "datastructures - circularBuffer" {
    multiboot /boot/datastructures/circularBuffer/circularBuffer.bin
    set gfxpayload=text
    boot
}

menuentry "stdio - vgaStdio" {
    multiboot /boot/stdio/vgaStdio/vgaStdio.bin
    set gfxpayload=text
    boot
}

menuentry "paging - pagingInit" {
    multiboot /boot/paging/pagingInit/pagingInit.bin
    set gfxpayload=text
    boot
}

menuentry "hal - gdtInit" {
    multiboot /boot/hal/gdtInit/gdtInit.bin
    set gfxpayload=text
    boot
}

menuentry "hal - idtGate" {
    multiboot /boot/hal/idtGate/idtGate.bin
    set gfxpayload=text
    boot
}

menuentry "hal - isrRegister" {
    multiboot /boot/hal/isrRegister/isrRegister.bin
    set gfxpayload=text
    boot
}

menuentry "hal - irqPit" {
    multiboot /boot/hal/irqPit/irqPit.bin
    set gfxpayload=text
    boot
}

menuentry "hal - picMask" {
    multiboot /boot/hal/picMask/picMask.bin
    set gfxpayload=text
    boot
}

menuentry "drivers - keyboardInit" {
    multiboot /boot/drivers/keyboardInit/keyboardInit.bin
    set gfxpayload=text
    boot
}

menuentry "drivers - mouseInit" {
    multiboot /boot/drivers/mouseInit/mouseInit.bin
    set gfxpayload=text
    boot
}
